@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cf-orange: rgb(243, 128, 32);
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .grid-borders {
    @apply border-l border-t *:border-b *:border-r;
  }
}

@media not all and (min-width: 640px) {
  [data-plan="free"] .plan-paid,
  [data-plan="paid"] .plan-free {
    display: none;
  }
}
